# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\garfield\wesharp\python基础\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
